@charset "UTF-8";
/*https://developer.mozilla.org/en-US/docs/Web/CSS/clamp*/
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
       url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff');
  font-weight: normal; 
  font-style: normal;
}
:root {
  color-scheme: light dark;
  --copy-opacity: 0;
  --vh: 1vh;
 
  --body-bg: 	linear-gradient(45deg, #8ec5fc, #e0c3fc) fixed;
  --article-bg: linear-gradient(145deg, #e4e8fe, #f8f9ff);
  --nav-bg:		linear-gradient(45deg, #bbdcfd, #ecdbfd) fixed;
  --text-clr: #333;
  --link-clr: #0078A8;
  --link-hover-clr: #0542a0;
  --link-visited-clr: #6d00a8;
  --unknown-clr: #fc8e93;
  --nav-border: 1px solid rgba(0,0,0,.12);
  --nav-border-bottom: 0;
  --article-hr-clr:#777;
  --modale-btn-hover-clr: #B8C3FB;
  --main-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
			  rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --light-bg: #F4F6FF;
  --darker-bg: #EEF1FE;
  --invert-filter: none;
}
/* reset and base settings */
*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
  margin: 0; padding: 0; border: 0; outline: 0;
  background-color:transparent;
  font: inherit;
  font-size: 100%;
  color: inherit;
  vertical-align: baseline;
}
::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
.show { display: block !important }
.hide { display: none !important }
a { text-decoration-skip-ink: auto } 
a:active, a:hover { outline: 0 }
b, strong { font-weight: bolder }
h1,h2,h3,h4 { text-wrap: balance }
p { text-wrap: pretty }
small, sup { font-size: .8rem }
q::before { content: "\00ab\00a0" } 
q::after { content: "\00a0\00bb" }
ul { list-style: none }
strong, b {	font-weight: bold }
sup {
  line-height: 0;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  top: -0.5em
}

button, input {
	overflow: visible;
}
input, select {
vertical-align:middle;
}
button, select { 
  text-transform: none;
}
select, option {
  line-height: inherit; 
  text-transform: none; 
  margin: 0
}
[tabindex="-1"]:focus {
  outline: none !important;
}
:where([aria-busy="true" i]) {
  cursor: progress;
}

:where([aria-hidden="false" i][hidden]) {
  display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

details > summary::marker {
content: '';
display: none
}
details > summary {
list-style: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
:where([type="search" i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* globals */
nav, #container > header, #btn--to-top, #text--resultats, #modale {
  user-select: none
}
a, button, input[type=button], select, summary, label  {
  cursor: pointer;
}
 

html {
  height: 100%;
}

.sr-only, body::after {
  border: 0 !important;
  clip-path: inset(50%) !important; 
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
  position: static;
  z-index: 3;
}

body {
margin: 0; padding: 0;
width: 100vw; height: 100vh;
overflow: hidden;
font-size: 16px;
line-height: 1.3;/*system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
font-family: "Public Sans", "fira_sans", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
cursor: auto;
}
    body::after { /* preload img */
    content: url(img/sprite.png) url(img/logo.png)
    }
    #container {
    width: 100%; height: 100vh; 
    overflow: auto;
    height: calc(var(--vh) * 100);
	transition: all 1s
    }
      #container::after {
      content: "";
      display: block;
      height: 10vh;
      }
      #container > header {
      z-index: 2;
      }
	  h1 {
      margin: 0;
      text-align: center;
	  flex-grow: 1
      }
	  #container > header h1 img {
	  filter: var(--invert-filter);
      margin-top: .5rem;
	  transition: filter 1s ease;
	  max-width: 90vw
      }
/* THEME BUTTON */

      #chk--theme-switch + label {
	  border: 0;
	  display: block;
	  position: absolute;
	  top : 35px;
	  right : 15px;
	  width: 30px;
	  height: 30px;
	  border-radius: 50%;
	  overflow: hidden;
	  transition: background 1s;
	  background: #70CDFC;
	 
	  z-index: 9
	  }
	#chk--theme-switch {
		appearance: none;
	}
	#chk--theme-switch + label::before {
	  transform: rotate(0deg);
	  content:"";
	  position: absolute;
	  top: 4px; left: 4px;
	  display: block;
	  width: 22px; height: 22px;
	  background: #FCE570;
	  border-radius: 50%;
	  transform-origin: 50% 300%;
	  transition: transform 1s;
	}
	#chk--theme-switch + label::after {
	  content:"";
	  position: absolute;
	  top: -2px; left: 10px;
	  display: block;
	  width: 22px;
	  height: 22px;
	  border-radius: 50%;
	  transform-origin: 50% 300%;
	  transition: transform 1s, background 0s;
	  box-shadow: -6px 6px 0 0 #F6EDBD;
	  transform: rotate(-180deg);
	}
	#chk--theme-switch:checked + label {
	  background: #031A8F
	}
	#chk--theme-switch:checked + label::before {
	  transform:  rotate(30deg)
	}
	#chk--theme-switch:checked + label::after {
	  transform:  rotate(0deg)
	}

/* NEED HELP BUTTON */
	  #link--need-help {
	  position: relative;
	  display:block;
	  background:#e2ad7e;
	  border: none;
	  border-radius: 12px;
	  padding: 0;
	  outline-offset: 4px;
	  outline-offset: 4px;
	  text-decoration: none;
	  }
	    #link--need-help .front {
	    display: block;
	    padding: .3rem .8rem;
	    border-radius: 12px;
	    font-size: 1.4rem;
	    background: #ffe086;
	    color: #2f4858;
  	    transform: translateY(-4px);
	    transition: transform .6s cubic-bezier(.3, .7, .4, 1);	
		border: 1px solid #e2a45f;
		font-variant:small-caps;
		white-space: nowrap
	    }
	    #link--need-help:hover .front {
	    transform: translateY(-5px);
	    transition: transform .25s cubic-bezier(.3, .7, .4, 1.5);
	    }
	    #link--need-help:active .front {
	    transform: translateY(-2px);
	    transition: transform .1s;
	    }
		#link--need-help .shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 12px;
		background: hsl(0deg 0% 0% / 0.25);
		will-change: transform;
		filter: blur(1px);
		transform: translateY(2px);
		transition: transform .6s cubic-bezier(.3, .7, .4, 1);
	    }
		#link--need-help:hover .shadow {
		transform: translateY(4px);
		transition: transform .25s cubic-bezier(.3, .7, .4, 1.5);
	    }
	    #link--need-help:active .shadow {
		transform: translateY(1px);
	 	transition: transform .1s;
	    }
		#link--need-help .edge {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 12px;
		background: linear-gradient(
		  to left,
		  hsl(32deg 69% 50%) 0%,
		  hsl(32deg 69% 66%) 8%,
		  hsl(32deg 69% 66%) 92%,
		  hsl(32deg 69% 50%) 100%);
	    }

/* <nav> START */        
      nav {
      display: flex;
      flex-direction: row; 
	  flex-wrap: wrap; 
	  justify-content: flex-start; 
	  align-content: flex-start; 
	  align-items: stretch;
     
      width: 100%;
      margin-bottom: 1vh;
	  margin-left: -1px;
      white-space: nowrap;
      z-index: 1;
      }
        nav > div {
        display: flex;
        flex: 1 1 auto; 
		align-items: center;
        }
          nav > div > i {
		  position: absolute;
          left: 7px
          }
		  nav select, 
		  nav input,
		  nav details {
		  height: 100%; width: 100%;
		  padding-left: 2em;
		  }
		  nav select, 
		  nav input,
		  nav summary {
		  padding-top: .5em;
		  padding-bottom: .5em;
		  }
		  nav > div > select {
		  appearance: none;
          border: 0; outline: 0;
          text-transform: uppercase;
		  
		  }
		  select, option:first-child, option:checked {
		  text-align:center;
		  }
		  option {
		  color: black;
		  text-align:left
		  }
		  nav > div > input {
		  mask-image: linear-gradient(90deg, #000, #000 85%, transparent 100%);
		  }	
		  nav > div > input:focus-visible {
		  mask-image: none
		  }
		 
		  details#apropos > summary {
		  height: 100%;
		  display: flex;
          align-items: center;
          justify-content: center;
		  }

          details#apropos {
		  display: block;
          }
		  details#apropos div {
		  position: absolute;
		  top: calc(100%); right:0;
		  padding: 15px;
		  min-width: 100%;
		  z-index: 4;	  
		  }
            details#apropos > div a {
            display: block;
            text-decoration: none;
            margin-bottom: .7rem;
            }
			details#apropos > div a i {
			margin-right: 5px;
			}
            details#apropos > div a:hover {
            text-decoration: underline
            }
		
		
/* <nav> END */		
	  	
      #text--resultats { text-align: center }
	  #text--resultats::before {content:'('}
	  #text--resultats::after  {content:')'}
	  
      main {
	  display: block;
	  margin: 1vh max(2.25vw, 36px) 0; 
      }
	  main.flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: stretch;	
      gap: 2vw 2vw;
      }
        article {
		padding-top: .5rem;
		padding-bottom: .6rem;
        border-radius: 5px;
        will-change: top, left, width;
		position:relative;
        }
		article.listview {
			height: 2em;
			position: relative !important;
			top: unset !important;
			left: unset !important;
			width: 100% !important;
			overflow: hidden;
			display: block;
			padding: .2em;
			margin-bottom: .5em;
			cursor: pointer;
		}
		article.listview h2 {
			text-align: left;
			text-decoration:underline;
			color: var(--link-clr);
			margin: 0; padding: 0; border: 0
		}
		
		article.listview h2, article.listview h2 abbr, article.listview h2 abbr::after {
			display: inline !important
		}
		article.listview #modale {
			display: none !important
		}
		main.flex article {
		min-width: 560px;
		max-width: 95vw;
		flex:1 1 28vw;
	    }
		  article header h2 {
		  padding-bottom: .5rem;
		  padding-left: 1rem;
		  padding-right: 1rem;
		  text-align: center;
		  font-size: 1.2rem;
		  font-weight: bold;
		  }
		    article header h2 abbr {
            border-bottom: none;
            text-decoration: none
            }
              article header h2 abbr[title]::after {
	          content: '(' attr(title) ')';
		      display: block;
	          font-size: 90%; /*** a checker ***/
	          }
		    article header p {
		    font-style: italic;
			color:var(--text-clr-sec)
		    }

	
	 

            article div:not(.card):not(.one-line)::before, 
			.one-line a::before,
			article > a::before, 
			article .card > a:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 1.1rem;
            height: 1.1rem;
            max-width: 100%;
            background-size: 100%;
            background-image: url("img/sprite.png");
            }


	    h3 {
	      font-size: 1.05rem;
	      font-weight: bold
	    }
	    h3 span {
		  display: none
	    }

		.tel, .email, .adr, .url, .bus, .time, .info, .hours, .acc,
		.youtube, .soundcloud, .instagram, .twitter, .facebook, .one-line,
		article p, article h3, .doubt {
			display: block;
			margin-top: .4rem;
			margin-bottom: .4rem
		}
		.card *:last-child, .article *:last-child {
			
		}
		.tel, .email, .adr, .url, .bus, .time, .info, .hours, .acc,
		.youtube, .soundcloud, .instagram, .twitter, .facebook, .one-line {
			padding-left: 2.5rem;
			padding-right: .8rem;
		}
		:where(.tel, .email, .adr, .url, .bus, .time, .info, .hours, .acc,
		.youtube, .soundcloud, .instagram, .twitter, .facebook, .one-line, header, .card):has(+ .card) {
			padding-bottom: .3rem
		}
		.one-line a::before {
			left: -1.6rem
		}
		.one-line a, .one-line span {
			display: inline;
			padding-left: 0;
		}
		.one-line > * {
			padding-right: 0;
		}
		article p, article h3 {
			padding-left: .8rem;
			padding-right: .8rem;
		}
		.tel::before, .email::before, .adr::before, .url::before, .bus::before, .time::before, .info::before, .hours::before,
		.acc::before, .youtube::before, .soundcloud::before, .instagram::before, .twitter::before, .facebook::before {
			position: absolute;
			left: .8rem;top:.2rem;
			display: block;
		}
		ul, li {margin:0;padding:0}
		article ul {
			padding-left: .9rem ;
		}
		.tel::before {
			filter: var(--invert-filter)
		}
		
		.doubt {

        display: block;
		text-align:center;
        }
          .doubt::before {
            content:"\26A0\FE0F\0020";
          }
		  article a {
		  text-decoration:none
		  }
		  .bus span:not([class=busstop]) {
		  display: inline-flex;  
		  align-items: center; 
		  justify-content: center;
		  width: 1.6em; height: 1.6em;
		  font-size: 0.75em; 
		  font-weight: bold; 
		  border-radius: 15%;
		  }
		  .bus a {
		  text-decoration: none
		  }
          .adr .extended-address, .adr .street-address, .adr .post-office-box {
		  display:block
		  }
		  .adr .locality {
		  text-transform: uppercase;
		  }
		  .url {
			  overflow: hidden;
			  text-overflow: ellipsis;
			  white-space: nowrap;
		  }
		  
nav > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  transition: none;
  pointer-events: none;
}
nav > div:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  transition: all 0.4s ease-in-out;
}
		  
.acc img, .acc::before {background-position: 0 0} 
.acti {background-position: 0 3.846154%}
.avis img, .avis::before {background-position:0 7.692308%} 
.bus img, .bus::before {background-position:0 11.538462%}
.url img, .url::before {background-position:0 15.384615%} 
.conv img, .conv::before {background-position:0 19.230769%}
.cult {background-position:0 23.076923%} 
.doc {background-position:0 26.923077%}
.facebook, .facebook img, .facebook::before {background-position:0 30.769231%} 
.heal {background-position:0 34.615385%}
.host {background-position:0 38.461538%} 
.instagram, .instagram img, .instagram::before {background-position:0 42.307692%}
.info img, .info::before {background-position:0 46.153846%} 
.lng img, .lng::before {background-position:0 50.000000%}
.adr img, .adr::before {background-position:0 53.846154%} 
.tool {background-position:0 57.692308%}
.tel, .tel img, .tel::before {background-position:0 61.538462%} 
.park img, .park::before {background-position:0 65.384615%}
.pers {background-position:0 69.230769%} .prix img, .prix::before  {background-position:0 73.076923%}
.hours img, .hours::before {background-position:0 76.923077%} .sprt {background-position:0 80.769231%}
.soli {background-position:0 84.615384%} .email img, .email::before {background-position:0 88.461538%}
.twitter img, .twitter::before {background-position:0 92.307692%} 
.soundcloud img, .soundcloud::before {background-position:0 96.153846%}
.youtube img, .youtube::before {background-position:0 100%}

.bus span:not([class=busstop]) { color: #fefefe }
.C1, .TD, .G2, .C2, .C5, .C4,  .C6, .C7, .P14, .P20, .P21, .F46, .F61, .F65, .G6 {color:#000 !important}
.TA {background:#3376B8}	.TB {background:#479A45}	.TC {background:#C20078}	.TD {background:#DE9917} .TE {background:#533786}	
.C1 {background:#FDEA00}	.C2 {background:#F1D04C}	.C3 {background:#DB9325}    .C4 {background:#F3D000}	
.C5 {background:#E5AD34}	.C6 {background:#FDEA00}	.C7 {background:#F3D92F}
.P12 {background:#309c44}	.P13 {background:#49c5a5}	.P14 {background:#a7d14d}	.P15 {background:#5ec689}
.P16 {background:#00ab4f}	.P19 {background:#5992ba}	.P20 {background:#50c7c2}	.P21 {background:#50c7c2}
.P22 {background:#50c7c2}	.P23 {background:#2c9ac4}	.P25 {background:#77c547}	.P26 {background:#3e9ba8}
.F40 {background:#CA5069}	.F41 {background:#CD74A5}	.F42 {background:#75649F}	.F43 {background:#8077AD}
.F44 {background:#8C6EA4}	.F45 {background:#8077AD}	.F46 {background:#D790AC}	.F47 {background:#8077AD}
.F48 {background:#C85369}	.F49 {background:#75649F}	.F50 {background:#9D3482}   .F51 {background:#C34D65}
.F54 {background:#8D6DA7}	.F55 {background:#8C6EA4}	.F56 {background:#CB74A2}	.F59 {background:#D572A8}
.F60 {background:#9E3485}   .F61 {background:#D88FAE}	.F62 {background:#9E3485}	.F63 {background:#9E3485}	
.F64 {background:#9E3485}   .F65 {background:#D88FAE}	.F66 {background:#7663A3}	.F67 {background:#94317D}	
.F68 {background:#CA5069}   .F70 {background:#7864A4}	.F71 {background:#CA5069}	
.T86 {background:#f29549} .L407 {background:#722583}
.G2 {background:#f9b000}	.G3 {background:#69b42e}    .G4 {background:#8a6452}	.G5 {background:#6c4796}	.G6 {background:#ffed00}	
.NVA, .NVB, .NVC {background:#ed6c84}   .TER{background:#205DC9}
.X01, .X02, .X03, .X08 {background:#9d1c6d}
.TA, .TB, .TC, .TD, .TE, .C1, .C2, .C3, .C4, .C5, .C6, .C7 {border-radius: 50% !important}
.NVA, .NVB, .NVC, .TER, .X01, .X02, .X03, .X08, .L407 { width: auto;padding: 0 14px;}
.fa::before {
  display: inline-block;
  /*font: normal normal normal 1rem FontAwesome;
  font-size: inherit;*/
  font-family: FontAwesome;
  text-rendering: auto;
}
.fa-ig::before {content:"\f16d"}		.fa-search::before {content:"\f002"}
.fa-info::before {content:"\f05a"}		.fa-building::before {content:"\f1ad"}
.fa-az-sort::before {content:"\f15d"}	.fa-map-signs::before {content:"\f277"}
.fa-cal::before {content:"\f073"}		.fa-gh::before {content:"\f09b"}
.fa-mail::before {content:"\f0e0"}		.fa-user::before {content:"\f2b9"}
.fa-cc::before {content:"\f25e"}		.fa-pp::before { content: "\f1ed" }
.fa-cate::before {content:"\f00b"}
.fa-download::before{content:"\f019"}	
.fa-print::before{content:"\f02f"}	
.fa-copy::before{content:"\f0c5"}	
.fa-select::before{content:"\f247"}	
.fa-vcard::before{content:"\f2c3"}
.fa-vcard-alt::before{content:"\f2c2"}
.fa-qrcode {font-size:1.5rem !important} .fa-qrcode::before {content:"\f029"}
		

	
      #btn--to-top {
      position: fixed; display: none;
      right: 2em; bottom: 1em;
      width: 2em; height: 2em;
      text-decoration: none;
      border-radius: 50%;
      font-size: 1em; 
      z-index: 3;
	  box-shadow: #888 0 1px 4px, #888 0 2px 0
      }


#modale {
  display: none;
  position: absolute;
  top: 5px; right: -35px;
  padding: 0 5px 3px 5px;
  border-radius: 10px;
  z-index: 9999
}
#modale button {
  display: block;
  width: 32px; height: 32px;
  margin: 5px 0;
  border: 0; border-radius: 5px;
  font-size: 1.5rem;

}

#btn-copy::before {
  content: 'Copié !';
  display: block;
    position: absolute;
    right: calc(100% + 15px);
    padding: 5px; 
  font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 8px;
  opacity: var(--copy-opacity);
    transition: opacity .5s;
  pointer-events: none;
}
#modale #qr-code {
    position: absolute;
    right: 100%;
	top: 0;
    padding: 20px; 
 background-color: #fff;
    border-radius: 8px;
  display: none;
  max-width: calc(100vw - 42px)
}
#modale #qr-code img {
  max-width: calc(100vw - 82px);
  max-height: calc(100vw - 82px);
}



@media (prefers-color-scheme: dark) {
 
}

@media screen and (max-width:940px) {
  main.flex article {
   min-width: 380px
  }
}
@media screen and (max-width:460px) {
  main.flex article {
   min-width: unset;
   max-width: unset;
   width: 100%;
   flex: unset
  }
  main.flex {
    margin: 1vh 5px 0;
  }
  #modale {
    right: 0;
    top: 0
  }
}

/* THEMING */
/* text color */
#container { 		color: var(--text-clr) }
.doubt { 			color: var(--unknown-clr) }
a { 				color: var(--link-clr) }
article a:hover { 	color: var(--link-hover-clr) } 
a:visited { 		color: var(--link-visited-clr) }
/* BACKGROUNDS */
nav {					background: var(--nav-bg) }
#container > header { 	background: var(--nav-bg) }
#container { 					background: var(--body-bg) }
article {				background: var(--article-bg) }
details div,
details[open] { 		background: var(--light-bg) }
#btn-copy::before { 	background: var(--light-bg) }
#modale {				background: var(--darker-bg) }
#btn--to-top { 			background: var(--darker-bg) }
#modale button:hover { 	background: var(--modale-btn-hover-clr);
						outline: 2px solid var(--modale-btn-hover-clr) }
/* BORDERS */
nav {						 border-bottom: var(--nav-border-bottom) }
nav > div { 				 border-top: var(--nav-border) }
nav > div ~ div { 			 border-left: var(--nav-border) }
details#apropos > div {      border-left: var(--nav-border);
                             border-bottom:  var(--nav-border)}
h2 { 						 border-bottom: 1px solid var(--article-hr-clr) }
.card { 					 border-top: 2px dashed var(--article-hr-clr) }
#btn--to-top { 				 border: 1px solid var(--article-hr-clr) }
/* BOX SHADOWS */
#modale, article, nav, 
#btn-copy::before, #qr-code {box-shadow: var(--main-box-shadow)}

/*** DARK THEME ***/
#container:has(#chk--theme-switch:checked) {
	/* color:light-dark(#333b3c, #efefec);*/
  --body-bg: 	#1A1625;
  --article-bg: #2F2B3A;
  --nav-bg:		#46424F;
  --text-clr: #EEE;
  --text-clr-sec: #b9b8bd;
  --link-clr: #c8e1f7;
  --link-hover-clr: #C2DCFD;
  --link-visited-clr: #6d00a8;
  --unknown-clr: #fc8e93;
  --nav-border: 1px solid #AAA;
  --nav-border-bottom: var(--nav-border);
  --article-hr-clr:#999;
  --modale-btn-hover-clr: #444;
  --main-box-shadow: none;
  --light-bg: #333;
  --darker-bg: #111111;
  --invert-filter: invert(1) brightness(130%);
}
/*** ANIMATION MEDIA QUERIES ***/
@media (prefers-reduced-motion: reduce){
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
	transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
	scroll-behavior: smooth
  }
}
@media (inverted-colors: inverted) {
  /* styles to apply if inversion of colors is detected */
}
@media (forced-colors: active) or (prefers-contrast: more) {
	article, nav, #modale, #btn--to-top, #link--need-help, #chk--theme-switch {
      border: 2px solid black;
	}
	#btn--to-top {
		background: white
	}
	#link--need-help .front {
		border: 0;
	}
	#link--need-help .front, #link--need-help:hover .front {
		transform: none;
	}
	#modale button:hover {
		outline: 2px solid black;
	}
	nav > div {
		border-width: 0 0 0 2px;
		border-bottom-style: solid;
		border-color: black;
	}
	.bus span:not(.busstop) {
		forced-color-adjust: none;
		background: white;
		color: black;
		border: 1px solid black
	}
	
}

/*** PRINT ***/
.print-frame {
  position: absolute;
  top:-150%;
  width: 21cm;
  height: 29.7cm;
}
@page {
  size: A4 portrait
}
@media print {
  * { 
    /* pour forcer les fonds à apparaître */
    -webkit-print-color-adjust: exact !important;   
    color-adjust: exact !important; 
    print-color-adjust: exact !important
  }
  article div::before, article a::before, .bus span {
	/* pour les passer en niveau de gris */  
	filter: grayscale(1);
  }
  html, body, #container, main {
    height:auto !important;
    overflow:auto !important;
    display: block !important
  }
  h1 {
	border:0
  }
  h2 {
    border-bottom: 1px dashed #333 !important
  }
  a {
	text-decoration:none !important;
	color: black !important
  }
  .facebook a, .instagram a, .twitter a, .soundcloud a, .youtube a {
	font-size:0
  }
  .facebook a::after, .instagram a::after, .twitter a::after, .soundcloud a::after, .youtube a::after {
	content:attr(href);
	font-size: 1rem
  }
  body, article, header, h1, body::before {
	color:black !important;
	background:transparent !important
  }
  nav, #btn--to-top, #modale, #text--resultats, h1 img {
    display:none !important
  }
  article {
	box-shadow:none !important;
    break-inside: avoid;
	border-radius: 0;
	width: 100% !important;
	position: relative !important;
	top: unset !important;
	left: unset !important;
	transform: none !important;
	margin-bottom: 1rem;
	border: 2px solid #555 !important
  }
  .card {
	break-inside: avoid
  }
}




