@charset "UTF-8";
/*https://developer.mozilla.org/en-US/docs/Web/CSS/clamp*/
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
       url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff');
  font-weight: normal; 
  font-style: normal;
}
:root {
  color-scheme: light dark;
  --copy-opacity: 0;
  --vh: 1vh;
  --base-blue: hsl(210, 94.29%, 86.27%);
  --base-purple: hsl(270, 89.47%, 92.55%);
 
  --body-bg: linear-gradient(45deg, #8ec5fc, #e0c3fc) fixed;
  --head-bg: #d3dcfd linear-gradient(45deg, #bbdcfd, #ecdbfd) fixed;
  --text-clr: #333;
  --link-clr: #0078A8;
  --nav-bg: #d3dcfd linear-gradient(45deg, #bbdcfd, #ecdbfd) fixed;
  --about-bg: #f8f9ff
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; padding: 0; border: 0;
  font: inherit;
  font-size: 100%;
  color: inherit;
  vertical-align: baseline;
  position: relative;
}
::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
.sr-only, body::after {
  border: 0 !important;
  clip-path: inset(50%) !important; 
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
  position: static;
  z-index: 3;
}
a {
  background: transparent;
  text-decoration-skip-ink: auto;
} 
a:active, a:hover {
  outline: 0
}
b, strong {
  font-weight: bold
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  top: -0.5em
}
small {
  font-size: 90%
}

/* guillemets français */
q::before { content: "\00ab\00a0" } 
q::after { content: "\00a0\00bb" }

html {
  font-size: 100%;
  height: 100%;
  line-height: 1.15; 
}
  body {
  margin: 0; padding: 0;
  width: 100vw; height: 100vh;
  overflow: hidden;
  line-height: 1.3;
  color: var(--text-clr);
  background: var(--body-bg);
  font-family: "Public Sans", "fira_sans", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
    body::after { /* preload */
    content: url(img/sprite.png) url(img/logo.png)
    }
    #container {
    width: 100%; height: 100vh; 
    overflow: auto;
    height: calc(var(--vh) * 100);
    }
      #container::after {
      content: "";
      display: block;
      height: 10vh;
      }
      #container > header {
      background: var(--head-bg);
      transition: background 1s ease;
      user-select: none;
      z-index: 2;
      }
	  h1 {
      margin: 0;
      text-align: center
      }
	  #need-help {
	  position: absolute;
	  top: .7rem;right:.7rem;
	  background:#e2ad7e;
	  border: none;
	  border-radius: 12px;
	  padding: 0;
	  cursor: pointer;
	  outline-offset: 4px;
	  outline-offset: 4px;
	  text-decoration: none;
	  }
	    #need-help .front {
	    display: block;
	    padding: .3rem .8rem;
	    border-radius: 12px;
	    font-size: 1.4rem;
	    background: #ffe086;
	    color: #2f4858;
  	    transform: translateY(-4px);
	    transition: transform .6s cubic-bezier(.3, .7, .4, 1);	
		border: 1px solid #e2a45f;
		font-variant:small-caps
	    }
	    #need-help:hover .front {
	    transform: translateY(-5px);
	    transition: transform .25s cubic-bezier(.3, .7, .4, 1.5);
	    }
	    #need-help:active .front {
	    transform: translateY(-2px);
	    transition: transform .1s;
	    }
		#need-help .shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 12px;
		background: hsl(0deg 0% 0% / 0.25);
		will-change: transform;
		filter: blur(1px);
		transform: translateY(2px);
		transition: transform .6s cubic-bezier(.3, .7, .4, 1);
	    }
		#need-help:hover .shadow {
		transform: translateY(4px);
		transition: transform .25s cubic-bezier(.3, .7, .4, 1.5);
	    }
	    #need-help:active .shadow {
		transform: translateY(1px);
	 	transition: transform .1s;
	    }
		#need-help .edge {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 12px;
		background: linear-gradient(
		  to left,
		  hsl(32deg 69% 50%) 0%,
		  hsl(32deg 69% 66%) 8%,
		  hsl(32deg 69% 66%) 92%,
		  hsl(32deg 69% 50%) 100%);
	    }
        #container > header h1 img {
        margin-top: .5rem;

		transition: filter 1s ease;
		max-width: 90vw
        }
/* <nav> START */        
      nav {
      display: flex;
      flex-direction: row; 
	  flex-wrap: wrap; 
	  justify-content: flex-start; 
	  align-content: flex-start; 
	  align-items: stretch;
      width: 100%;
      margin-bottom: 1vh;
      white-space: nowrap;
	  background: var(--nav-bg);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      transition: background 1s ease;
      user-select: none;
      z-index: 1;
      }
        nav > div {
       display: flex;
       flex: 1 1 auto; align-items: center;
       border-top: 1px solid rgba(0,0,0,.05);
	   min-width: 150px
       }
		  nav > div.disabled-within {
		  opacity: .5
		  }
        nav > div:not(:last-child) {
        border-right: 1px solid rgba(0,0,0,.15)
        }
        nav > div:hover {
        background: rgba(255,255,255,.8);
        }
          nav > div > i {
		   position: absolute;
          left: 7px
          }
		  select, option:first-child, option:checked {
		  text-align:center;
		  }
          select, option, nav > div:hover select {
          color: inherit;
          background: transparent;
          }		  
		  input {
		  background: transparent;
		  height: 100%;width: 100%;
		  padding-left: 30px;
		  padding-right: 7px;
		  mask-image: linear-gradient(90deg, #000, #000 85%, transparent 100%);
		}
		select, option {
		  line-height: inherit; 
		  text-transform: none; 
		  margin: 0
		}
          nav > div > a, 
		  nav div select {
          width: 100%; height:100%;
          padding: 8px;
          border: 0;  outline: 0;
          text-transform: uppercase;
          text-align:center;
          text-decoration: none;
          color: inherit;
          cursor: pointer
          }
		  
		  nav div select:disabled {
			  cursor: not-allowed;
		  }
		  nav div select:focus-visible,
		  nav div input:focus-visible, 
		  summary:focus-visible {
		  outline: 3px solid rgba(255,255,255,.8) !important;
		  mask-image: none
		  }

          #select--ville, #select--categories {
          flex: 1 1 auto
          }
		  details > summary::marker {
           content: '';
			display: none
		  }
		  details > summary {
		  list-style: none;
		  height: 100%;
		  display: flex;
          align-items: center;
          justify-content: center;
		  cursor: pointer;
		  padding-top: 8px;
		  padding-bottom: 8px;
		  }
          details#apropos {
          width: 100%; height:100%;
          }
		  details#apropos[open] {
		    background: var(--about-bg)
		  }
		  details#apropos > div {
		  position: absolute;
		  top: 100%; right:0;
		  padding: 15px;
		  min-width: 100%;
		  z-index: 4;	  
		  border-left: 1px solid #C4BAD7;
		  border-bottom:  1px solid  #C4BAD7;
		  background: linear-gradient(to top, #e4e8fe, #f8f9ff);
		  }
            details#apropos > div a {
            display: block;
            text-decoration: none;
            color: var(--text-clr);
            margin-bottom: .7rem;
            }
			details#apropos > div a i {
			margin-right: 5px;
			}
            details#apropos > div a:hover {
            text-decoration: underline
            }
/* <nav> END */		
			
      #text--resultats {
      text-align: center;
	  user-select: none;
      }
	  #text--resultats::before {content:'('}
	  #text--resultats::after  {content:')'}
	  
      main {
	    margin: 1vh max(2.25vw, 36px) 0; 
      }
        article {
        /*padding: 5px 0 9px 0;*/
		padding-top: .3rem;
		padding-bottom: .6rem;
        background: linear-gradient(145deg, #e4e8fe, #f8f9ff);
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        will-change: top, left, width;
		transition: transform 1s ease;
		position: absolute;
        }

		  article header abbr {
          border-bottom: none;
          text-decoration: none
          }
          article header abbr[title]::after {
	      content: '(' attr(title) ')';
	      user-select: auto;
	      font-size: 90%;
	      display: block;
          }
		  article header p {
		  font-style: italic;
		  font-weight: normal;
		  font-size: 1em;
		  }

	  main.flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: stretch;	
		gap: 2vw 2vw;
	  }
	  main.flex article {
		min-width: 560px;
		max-width: 95vw;
		flex:1 1 28vw;
		position:relative;
	  }

            article div:not(.card):not(.one-line)::before, 
			.one-line a::before,
			article > a::before, 
			article .card > a:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 1.1rem;
            height: 1.1rem;
            max-width: 100%;
            background-size: 100%;
            background-image: url("img/sprite.png");
            }
			article div a, article > a, article .card > a {
			color: var(--link-clr);
		    
		    }
			article div a:hover, article > a:hover {color:inherit}
		h2 {
		  margin-top: .2rem;
		  padding-bottom: .5rem;
		  padding-left: 1rem;
		  padding-right: 1rem;
		  border-bottom: 1px solid #777
		}
		.card {
		  border-top: 2px dashed #777;
		}

		.tel, .email, .adr, .url, .bus, .time, .info, .hours, .acc,
		.youtube, .soundcloud, .instagram, .twitter, .facebook, .one-line,
		article p, article h3, .doubt {
			display: block;
			margin-top: .4rem;
			margin-bottom: .4rem
		}
		.card *:last-child, .article *:last-child {
			
		}
		.tel, .email, .adr, .url, .bus, .time, .info, .hours, .acc,
		.youtube, .soundcloud, .instagram, .twitter, .facebook, .one-line {
			padding-left: 2.5rem;
			padding-right: .8rem;
		}
		:where(.tel, .email, .adr, .url, .bus, .time, .info, .hours, .acc,
		.youtube, .soundcloud, .instagram, .twitter, .facebook, .one-line, header, .card):has(+ .card) {
			padding-bottom: .3rem
		}
		.one-line a::before {
			left: -1.6rem
		}
		.one-line a, .one-line span {
			display: inline;
			padding-left: 0;
		}
		.one-line > * {
			padding-right: 0;
		}
		article p, article h3 {
			padding-left: .8rem;
			padding-right: .8rem;
		}
		.tel::before, .email::before, .adr::before, .url::before, .bus::before, .time::before, .info::before, .hours::before,
		.acc::before, .youtube::before, .soundcloud::before, .instagram::before, .twitter::before, .facebook::before {
			position: absolute;
			left: .8rem;top:.2rem;
			display: block;
		}
		ul, li {margin:0;padding:0}
		article ul {
			padding-left: .9rem ;
		}
		
		
		.doubt {
        color: #A00;
        display: block;
		text-align:center;
        }
          .doubt::before {
            content:"\26A0\FE0F\0020";
          }
		  a.bus {
		  text-decoration:none
		  }
		  .bus span:not([class=busstop]) {
		  display: inline-flex;  
		  align-items: center; 
		  justify-content: center;
		  width: 1.1rem; height: 1.1rem;
		  font-size: 0.7rem; 
		  font-weight: bold; 
		  color: #fefefe;
		  border-radius: 15%;
		  }
		  .bus a {
		  text-decoration: none
		  }
          .adr .extended-address, .adr .street-address, .adr .post-office-box {
		  display:block
		  }
		  .adr .locality {
		  text-transform: uppercase;
		  }
		  .url {
			  overflow: hidden;
			  text-overflow: ellipsis;
			  white-space: nowrap;
		  }
.acc img, .acc::before {background-position: 0 0} 
.acti {background-position: 0 3.846154%}
.avis img, .avis::before {background-position:0 7.692308%} 
.bus img, .bus::before {background-position:0 11.538462%}
.url img, .url::before {background-position:0 15.384615%} 
.conv img, .conv::before {background-position:0 19.230769%}
.cult {background-position:0 23.076923%} 
.doc {background-position:0 26.923077%}
.facebook, .facebook img, .facebook::before {background-position:0 30.769231%} 
.heal {background-position:0 34.615385%}
.host {background-position:0 38.461538%} 
.instagram, .instagram img, .instagram::before {background-position:0 42.307692%}
.info img, .info::before {background-position:0 46.153846%} 
.lng img, .lng::before {background-position:0 50.000000%}
.adr img, .adr::before {background-position:0 53.846154%} 
.tool {background-position:0 57.692308%}
.tel, .tel img, .tel::before {background-position:0 61.538462%} 
.park img, .park::before {background-position:0 65.384615%}
.pers {background-position:0 69.230769%} .prix img, .prix::before  {background-position:0 73.076923%}
.hours img, .hours::before {background-position:0 76.923077%} .sprt {background-position:0 80.769231%}
.soli {background-position:0 84.615384%} .email img, .email::before {background-position:0 88.461538%}
.twitter img, .twitter::before {background-position:0 92.307692%} 
.soundcloud img, .soundcloud::before {background-position:0 96.153846%}
.youtube img, .youtube::before {background-position:0 100%}

.TA {background:#3376B8}	.TB {background:#479A45}	.TC {background:#C20078}	.TD {background:#DE9917} .TE {background:#533786}	

.C1 {background:#FDEA00}	.C2 {background:#F1D04C}	.C3 {background:#DB9325}    .C4 {background:#F3D000}	
.C5 {background:#E5AD34}	.C6 {background:#FDEA00}	.C7 {background:#F3D92F}

.P12 {background:#309c44}	.P13 {background:#49c5a5}	.P14 {background:#a7d14d}	.P15 {background:#5ec689}
.P16 {background:#00ab4f}	.P19 {background:#5992ba}	.P20 {background:#50c7c2}	.P21 {background:#50c7c2}
.P22 {background:#50c7c2}	.P23 {background:#2c9ac4}	.P25 {background:#77c547}	.P26 {background:#3e9ba8}

.F40 {background:#CA5069}	.F41 {background:#CD74A5}	.F42 {background:#75649F}	.F43 {background:#8077AD}
.F44 {background:#8C6EA4}	.F45 {background:#8077AD}	.F46 {background:#D790AC}	.F47 {background:#8077AD}
.F48 {background:#C85369}	.F49 {background:#75649F}	.F50 {background:#9D3482}   .F51 {background:#C34D65}
.F54 {background:#8D6DA7}	.F55 {background:#8C6EA4}	.F56 {background:#CB74A2}	.F59 {background:#D572A8}
.F60 {background:#9E3485}   .F61 {background:#D88FAE}	.F62 {background:#9E3485}	.F63 {background:#9E3485}	
.F64 {background:#9E3485}   .F65 {background:#D88FAE}	.F66 {background:#7663A3}	.F67 {background:#94317D}	
.F68 {background:#CA5069}   .F70 {background:#7864A4}	.F71 {background:#CA5069}	

.T86 {background:#f29549} .L407 {background:#722583}

.G2 {background:#f9b000}	.G3 {background:#69b42e}    .G4 {background:#8a6452}	.G5 {background:#6c4796}	.G6 {background:#ffed00}	

.NVA, .NVB, .NVC {background:#ed6c84}   .TER{background:#205DC9}

.X01, .X02, .X03, .X08 {background:#9d1c6d}
.C1, .TD, .G2, .C2, .C5, .C4,  .C6, .C7, .P14, .P20, .P21, .F46, .F61, .F65, .G6 {color:#000 !important}
.TA, .TB, .TC, .TD, .TE, .C1, .C2, .C3, .C4, .C5, .C6, .C7 {border-radius: 50% !important}
.NVA, .NVB, .NVC, .TER, .X01, .X02, .X03, .X08, .L407 { width: auto;padding: 0 14px;}

.fa::before {
  display: inline-block;
  /*font: normal normal normal 1rem FontAwesome;
  font-size: inherit;*/
  font-family: FontAwesome;
  text-rendering: auto;
}
.fa-ig::before {content:"\f16d"}		.fa-search::before {content:"\f002"}
.fa-info::before {content:"\f05a"}		.fa-building::before {content:"\f1ad"}
.fa-az-sort::before {content:"\f15d"}	.fa-map-signs::before {content:"\f277"}
.fa-cal::before {content:"\f073"}		.fa-gh::before {content:"\f09b"}
.fa-mail::before {content:"\f0e0"}		.fa-user::before {content:"\f2b9"}
.fa-cc::before {content:"\f25e"}		.fa-pp::before { content: "\f1ed" }
.fa-cate::before {content:"\f00b"}

.fa-download::before{content:"\f019"}	
.fa-print::before{content:"\f02f"}	
.fa-copy::before{content:"\f0c5"}	
.fa-select::before{content:"\f247"}	
.fa-vcard::before{content:"\f2c3"}
.fa-vcard-alt::before{content:"\f2c2"}
.fa-qrcode {font-size:1.5rem !important} .fa-qrcode::before {content:"\f029"}
		
	  h2, .desc {
	  /*padding: 4px 13px;*/
	  }
	  h2 {
	  /*margin: 0 0 5px 0;*/
	  text-align: center;
	  font-size: 1.2rem;
	  font-weight: bold;
	  
	  }
	  h3 {
	  font-size: 1.05rem;
	  font-weight: bold
	  }
	  h3 span {
		display: none
	  }
      #link--to-top {
      position: fixed; display: none;
      right: 25px; bottom: 20px;
      padding: 4px 7px;
      text-decoration: none;
      border: 1px solid #888; border-radius: 7px;
      font-size: 1rem; color: inherit;
      background: linear-gradient(145deg, #e4e8fe, #f8f9ff);
      box-shadow: #888 0 0 2px, #888 0 2px 0;
      z-index: 3;
      user-select: none
      }
      #link--to-top:hover {background: #fefefe}
      #link--to-top:active {transform: translateY(2px)}

/*** MODALE ***/

#modale {
  display: none;
  position: absolute;
  top: 5px; right: -35px;
  padding: 0 5px 3px 5px;
  background: #EEF1FE;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  border-radius: 10px;
  z-index: 9999
}
#modale button {
  display: block;
  width: 32px; height: 32px;
  margin: 5px 0;
  border: 0; border-radius: 5px;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
#modale button:hover {
  background: #B8C3FB;
  outline: 2px solid #B8C3FB;
}
#btn-copy::before {
  content: 'Copié !';
  display: block;
    position: absolute;
    right: calc(100% + 15px);
    padding: 5px; 
  font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
  background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 8px;
  opacity: var(--copy-opacity);
    transition: opacity .5s;
  pointer-events: none;
}
#modale #qr-code {
    position: absolute;
    right: 100%;
	top: 0;
    padding: 20px; 
  background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 8px;
  display: none;
}
.show {
  display: block !important
}
.hide {
  display: none !important
}
@media screen and (max-width:940px) {
  main.flex article {
   min-width: 380px
  }
}
@media screen and (max-width:460px) {
  main.flex article {
   min-width: unset;
   max-width: unset;
   width: 100%;
   flex: unset
  }
  main.flex {
    margin: 1vh 5px 0;
  }
  #modale {
    right: 0;
    top: 0
  }
}
/*** DARK THEME ***/
@media (prefers-color-scheme: dark) {
  /* FONDS */
  :root {
	--body-bg:  #323436 linear-gradient(45deg, #232526, #414345) fixed;
	--head-bg:  #333;
	--text-clr: #fefefe;
	--link-clr: #8cdeff;
	--nav-bg: #333;
    --about-bg: #333
  }
  body { 
    background: var(--body-bg);
  }
  nav div {
	background: var(--nav-bg)
  }
  nav > div:hover {
    background: #F5F8FF
  }
  article, #link--to-top {
	background: #242626
  }
  #modale { 
    background: #232526;
	box-shadow: 0 0 5px #fff
  }
  #modale button:hover {
	background: transparent;
	outline: 2px solid #ddd /* moche, à changer */
  }
  /* BORDURES & OMBRES */
  header, nav div {
	border-color: #ccc;
	border-style: solid;
  }
  nav div {
	border-left-width: 1px;
	border-bottom-width: 1px;
	margin-left: -1px
  }
  #container > header {
	border-bottom-width: 1px;
	background: var(--head-bg);
  }
  article {
	box-shadow: #eee 0 0 2px, 
	            #777 0 3px 0
  }
  nav, nav div {
	box-shadow: none
  }
  /* COULEUR TEXTE */
  article a, article .card a, article .one-line a {
	color: var(--link-clr)
  }
  body, details div, details div a {
	color: #fefefe
  }
  #link--to-top:hover, btn-copy::before, nav > div:hover {
    color: #333
  }
  /* IMAGES */
  #container > header h1 img {
	 filter: invert(1) brightness(1.2);
  }
  .tel::before {
	filter: invert(1)
  }
}
/*** ANIMATION MEDIA QUERIES ***/
@media (prefers-reduced-motion: reduce){
  html, body, html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
@media (prefers-reduced-motion: no-preference) {
  html, body {
	scroll-behavior: smooth
  }
}

/*** PRINT ***/
.print-frame {
  position: absolute;
  top:-150%;
  width: 21cm;
  height: 29.7cm;
}
@page {
  size: A4 portrait
}
@media print {
  * { 
    /* pour forcer les fonds à apparaître */
    -webkit-print-color-adjust: exact !important;   
    color-adjust: exact !important; 
    print-color-adjust: exact !important
  }
  article div::before, article a::before, .bus span {
	/* pour les passer en niveau de gris */  
	filter: grayscale(1);
  }
  html, body, #container, main {
    height:auto !important;
    overflow:auto !important;
    display: block !important
  }
  h1 {
	border:0
  }
  h2 {
    border-bottom: 1px dashed #333 !important
  }
  a {
	text-decoration:none !important;
	color: black !important
  }
  .facebook a, .instagram a, .twitter a, .soundcloud a, .youtube a {
	font-size:0
  }
  .facebook a::after, .instagram a::after, .twitter a::after, .soundcloud a::after, .youtube a::after {
	content:attr(href);
	font-size: 1rem
  }
  body, article, header, h1, body::before {
	color:black !important;
	background:transparent !important
  }
  nav, #link--to-top, #modale, #text--resultats, h1 img {
    display:none !important
  }
  article {
	box-shadow:none !important;
    break-inside: avoid;
	border-radius: 0;
	width: 100% !important;
	position: relative !important;
	top: unset !important;
	left: unset !important;
	transform: none !important;
	margin-bottom: 1rem;
	border: 2px solid #555 !important
  }
  .card {
	break-inside: avoid
  }
}




 /* THEME BUTTON */
      #theme-toggle {
        appearance: none;
      }
      #theme-toggle + label {
      position: absolute;
      top: 1vh; right: 1vh;
      width: 56px; height: 30px;
      background: #ffffff;
      border: 2px solid #333; border-radius: 20px;
      cursor: pointer;
	  transition: all 2s;
	  overflow: hidden;
      }
      #theme-toggle + label::after {
      content: "";
      position: absolute;
      height: 20px; width: 20px;
      box-shadow: none;
      background-color: #fca823;
	  top: 3px; left: 3px;
      border-radius: 50%;
      transition: all 2s
      }
	  .dark-theme #theme-toggle + label{
      background: #15181f; 
      border: 2px solid #fff; 
      }
      .dark-theme #theme-toggle + label::after{
      top: -5px; left: 20px; 
      background: transparent; 
      box-shadow: 8px 8px #3197b7; 
      }
      